{% extends 'base.html.twig' %}

{% block title %}Page Produits{% endblock %}

{% block body %}
<div class="container">
    <h1>Produits</h1>
    <a href="{{ path('app_products_new') }}" class="btn btn-sm btn-success">Créer un produit</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Poster</th>
                <th>Description</th>
                <th>Matiere</th>
                <th>Price</th>
                <th>News</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td><img src="{{ product.poster }}" width="200px" height="150px"</td>
                <td>{{ product.description }}</td>
                <td>{{ product.matiere }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.news ? 'Yes' : 'No' }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <a href="{{ path('app_products_show', {'id': product.id}) }}" class="btn btn-sm btn-primary">show</a>
                    <a href="{{ path('app_products_edit', {'id': product.id}) }}" class="btn btn-sm btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
